@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding:0 5%;
  background-color: #fffefd;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
/* ---CSS--- */
.logo-link {
  width: 35px;
}
.zoom:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.title{
  font-weight: 650;
  margin-bottom: 40px;
  border-bottom: 2px solid #0093DD;
}
.page-links{
  font-size:16px;
}
.introduce{
  font-family: ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
  
}
.image-int-section{
  width:80%;
  min-width:270px;
  
  margin-top:50px;
}
.image-portfolio{
  width:300px;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  margin-bottom:100px
}
.story{
  font-size: 21px;
  width: 90%;
  text-align: left;
}

.skills-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}
.skills{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  
}
.logo-skills{
  width:120px;
  height:120px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5%;
  margin-top: 130px;
}
.border-spacing{
  border:5px solid black;
  border-spacing: 60px;
  border-radius:50%;
}
/*--form--*/
.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin-top: 150px;
}
.btn-one {
  color: #fff;
  background-color: #0093DD;
  border-color: #0093DD;
  border-radius: 20px;
  width: 100px;
}
.btn-one:hover {
  color: #fff;
  background-color: #53b6e7;
  border-color: #0093DD;
  border-radius: 20px;
  width: 100px;
}
/* footer */
footer{
  background-color: #0093DD;
  color: black;
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
}
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.logo-size{
font-size:2rem;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








